In [2]:
from pathlib import Path
import pandas as pd
import os
from knee_stress_predict.config import raw_data_dir
from knee_stress_predict.objects.KneeGeometry import KneeGeometry

# PATIENTS DATA LOADING

This notebook loads data from set_2. Set_2 was provided by Kalin. Raw data for that set is located in data/raw/set_2. The set consists of 28 patients' data that include knee geometry (7 elements) and a pickle file with tibia contact pressure data.

## Loading knee geometry for each patien

In [3]:
patients_knees = {}
data_set_name = "set_2"
data_dir = Path.joinpath(raw_data_dir, data_set_name)
for i, folder_name in enumerate(os.listdir(data_dir)):
    patient_dir = Path.joinpath(data_dir, folder_name)
    patient_knee = KneeGeometry(patient_dir)
    patients_knees[folder_name] = patient_knee

Create Data Frame that shows size of point coloud of each knee structure for each patioen

In [5]:
knee_df = pd.DataFrame(columns=['Code','Patella_PN','Femur_PN','Tibia_PN','Patella_Car_PN','Femur_Car_PN','Tibia_M_Car_PN', 'Tibia_L_Car_PN'])

for key, value in patients_knees.items():
    df = {'Code': key,
          'Patella_PN': value.patella.n_points,
          'Femur_PN': value.femur.n_points,
          'Tibia_PN': value.tibia.n_points,
          'Patella_Car_PN': value.pat_cart.n_points,
          'Femur_Car_PN': value.fem_cart.n_points,
          'Tibia_M_Car_PN': value.tibia_cart_med.n_points,
          'Tibia_L_Car_PN': value.tibia_cart_lat.n_points}
    knee_df = knee_df.append(df, ignore_index=True)
knee_df

,Code,Patella_PN,Femur_PN,Tibia_PN,Patella_Car_PN,Femur_Car_PN,Tibia_M_Car_PN,Tibia_L_Car_PN
0,9905863M00,923,4011,3009,4745,19095,2840,2840
1,9905863M12,884,4110,2790,4585,19025,2840,2840
2,9908796M00,641,2861,2268,4120,20295,2840,2840
3,9908796M12,625,3022,2171,4715,19385,2840,2840
4,9912946M00,788,4137,2689,5575,21035,2840,2840
5,9912946M12,791,4298,2533,5685,20945,2840,2840
6,9954040M00,803,3417,2512,5015,20230,2840,2350
7,9954040M12,812,3233,2740,4885,20345,2840,2360
8,9958234M00,759,3696,2606,5235,21865,2840,2840
9,9958234M12,752,3674,2669,5225,22195,2840,2840
10,9965231M00,714,3202,2409,4415,16950,2840,2840
11,9965231M12,728,3213,2414,4325,17205,2840,2840
12,9967358M00,651,3406,2414,4425,21670,5430,2800
13,9967358M12,671,3279,2572,3925,19600,5530,2760
14,9968800M00,626,3279,2062,4515,19215,2840,3075
15,9968800M12,618,3119,2195,4265,18115,2840,2840
16,9968924M00,776,3809,2467,4315,21315,4595,2840
17,9968924M12,786,3988,2330,4815,20900,4935,2840
18,9971275M00,833,3823,3383,4635,23675,2840,2840
19,9971275M12,833,4182,3019,4825,22425,2840,2840
20,9992358M00,740,3496,2881,4330,20385,2840,2840
21,9992358M12,767,3589,2832,4170,19385,2840,2840
22,9993650M00,633,3084,2205,4255,20260,2185,2840
23,9993650M12,686,2963,2388,4405,20910,2155,2840
24,9993833M00,795,3669,2724,4765,20410,2840,2840
25,9993833M12,801,3805,2575,4885,20400,2840,2840
26,9993846M00,868,3794,3029,5430,20755,2840,2840
27,9993846M12,873,3921,2831,5690,21495,2840,2840